In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\Aayush'

In [4]:
df = pd.read_csv("customer_shopping_behavior.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [6]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [7]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [8]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [9]:
# Since there are nulls in review ratings so we should address them using median instead of the mean because the median is less affected by outliers
# compared to mean,
# also it is advised to take median for every category separately instead of taking an overall median.

In [10]:
df[['Category','Review Rating']]

         Category  Review Rating
0        Clothing            3.1
1        Clothing            3.1
2        Clothing            3.1
3        Footwear            3.5
4        Clothing            2.7
...           ...            ...
3895     Clothing            4.2
3896  Accessories            4.5
3897  Accessories            2.9
3898     Footwear            3.8
3899  Accessories            3.1

[3900 rows x 2 columns]

In [11]:
def fillna_median(x):
    return x.fillna(x.median())

In [12]:
df["Review Rating"] = df.groupby("Category")['Review Rating'].transform(fillna_median)

In [13]:
# transform() = do something per group, but give a value for every row.

In [14]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [15]:
# There could be one problem while doing analysis in column names as there contains spaces in between columns and column names are inconsistent.

In [16]:
# So we will convert it to snake casing

In [17]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns = {'purchase_amount_(usd)':'purchase_amount'})

In [18]:
# .str is used because we are applying a string operation to many column names at once, not to a single string.

In [19]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [20]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [21]:
# Feature engineering

In [22]:
# Adding age groups column
labels = ['Young_adult','adult','middle_aged','senior']
df['age_group'] = pd.qcut(df['age'], q = 4, labels = labels)

In [23]:
df[['age_group','age']].reset_index(drop = True)

        age_group  age
0     middle_aged   55
1     Young_adult   19
2     middle_aged   50
3     Young_adult   21
4     middle_aged   45
...           ...  ...
3895        adult   40
3896  middle_aged   52
3897  middle_aged   46
3898        adult   44
3899  middle_aged   52

[3900 rows x 2 columns]

In [24]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [25]:
frequency_mapping = {
    "Fortnightly":14,
    'Weekly':7,
    'Annually':365,
    'Quarterly':90,
    'Bi-Weekly':14
}

df['purchase_frequency_days'] = df["frequency_of_purchases"].map(frequency_mapping)

In [26]:
df[['frequency_of_purchases','purchase_frequency_days']].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                     14.0
1            Fortnightly                     14.0
2                 Weekly                      7.0
3                 Weekly                      7.0
4               Annually                    365.0
5                 Weekly                      7.0
6              Quarterly                     90.0
7                 Weekly                      7.0
8               Annually                    365.0
9              Quarterly                     90.0

In [27]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,middle_aged,14.0
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Young_adult,14.0
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,middle_aged,7.0
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young_adult,7.0
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,middle_aged,365.0

In [28]:
#Re - Arranging columns sensibly
df = df[[
    'customer_id',
    'age',
    'age_group',
    'gender',
    'location',
    'item_purchased',
    'category',
    'size',
    'color',
    'season',
    'purchase_amount',
    'discount_applied',
    'promo_code_used',
    'payment_method',
    'shipping_type',
    'subscription_status',
    'previous_purchases',
    'frequency_of_purchases',
    'purchase_frequency_days',
    'review_rating'
]]

In [29]:
df.head(10)

,customer_id,age,age_group,gender,location,item_purchased,category,size,color,season,purchase_amount,discount_applied,promo_code_used,payment_method,shipping_type,subscription_status,previous_purchases,frequency_of_purchases,purchase_frequency_days,review_rating
0,1,55,middle_aged,Male,Kentucky,Blouse,Clothing,L,Gray,Winter,53,Yes,Yes,Venmo,Express,Yes,14,Fortnightly,14.0,3.1
1,2,19,Young_adult,Male,Maine,Sweater,Clothing,L,Maroon,Winter,64,Yes,Yes,Cash,Express,Yes,2,Fortnightly,14.0,3.1
2,3,50,middle_aged,Male,Massachusetts,Jeans,Clothing,S,Maroon,Spring,73,Yes,Yes,Credit Card,Free Shipping,Yes,23,Weekly,7.0,3.1
3,4,21,Young_adult,Male,Rhode Island,Sandals,Footwear,M,Maroon,Spring,90,Yes,Yes,PayPal,Next Day Air,Yes,49,Weekly,7.0,3.5
4,5,45,middle_aged,Male,Oregon,Blouse,Clothing,M,Turquoise,Spring,49,Yes,Yes,PayPal,Free Shipping,Yes,31,Annually,365.0,2.7
5,6,46,middle_aged,Male,Wyoming,Sneakers,Footwear,M,White,Summer,20,Yes,Yes,Venmo,Standard,Yes,14,Weekly,7.0,2.9
6,7,63,senior,Male,Montana,Shirt,Clothing,M,Gray,Fall,85,Yes,Yes,Cash,Free Shipping,Yes,49,Quarterly,90.0,3.2
7,8,27,Young_adult,Male,Louisiana,Shorts,Clothing,L,Charcoal,Winter,34,Yes,Yes,Credit Card,Free Shipping,Yes,19,Weekly,7.0,3.2
8,9,26,Young_adult,Male,West Virginia,Coat,Outerwear,L,Silver,Summer,97,Yes,Yes,Venmo,Express,Yes,8,Annually,365.0,2.6
9,10,57,middle_aged,Male,Missouri,Handbag,Accessories,M,Pink,Spring,31,Yes,Yes,Cash,2-Day Shipping,Yes,4,Quarterly,90.0,4.8

In [30]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [31]:
# This shows that both discount_applied and promo_code_used column are exactly same so to reduce unnecessary analysis we can 
# drop promo_code_used column

In [32]:
df = df.drop('promo_code_used',axis = 1)

In [33]:
df

,customer_id,age,age_group,gender,location,item_purchased,category,size,color,season,purchase_amount,discount_applied,payment_method,shipping_type,subscription_status,previous_purchases,frequency_of_purchases,purchase_frequency_days,review_rating
0,1,55,middle_aged,Male,Kentucky,Blouse,Clothing,L,Gray,Winter,53,Yes,Venmo,Express,Yes,14,Fortnightly,14.0,3.1
1,2,19,Young_adult,Male,Maine,Sweater,Clothing,L,Maroon,Winter,64,Yes,Cash,Express,Yes,2,Fortnightly,14.0,3.1
2,3,50,middle_aged,Male,Massachusetts,Jeans,Clothing,S,Maroon,Spring,73,Yes,Credit Card,Free Shipping,Yes,23,Weekly,7.0,3.1
3,4,21,Young_adult,Male,Rhode Island,Sandals,Footwear,M,Maroon,Spring,90,Yes,PayPal,Next Day Air,Yes,49,Weekly,7.0,3.5
4,5,45,middle_aged,Male,Oregon,Blouse,Clothing,M,Turquoise,Spring,49,Yes,PayPal,Free Shipping,Yes,31,Annually,365.0,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,adult,Female,Virginia,Hoodie,Clothing,L,Turquoise,Summer,28,No,Venmo,2-Day Shipping,No,32,Weekly,7.0,4.2
3896,3897,52,middle_aged,Female,Iowa,Backpack,Accessories,L,White,Spring,49,No,Bank Transfer,Store Pickup,No,41,Bi-Weekly,14.0,4.5
3897,3898,46,middle_aged,Female,New Jersey,Belt,Accessories,L,Green,Spring,33,No,Venmo,Standard,No,24,Quarterly,90.0,2.9
3898,3899,44,adult,Female,Minnesota,Shoes,Footwear,S,Brown,Summer,77,No,Venmo,Express,No,24,Weekly,7.0,3.8
3899,3900,52,middle_aged,Female,California,Handbag,Accessories,M,Beige,Spring,81,No,Venmo,Store Pickup,No,33,Quarterly,90.0,3.1

In [34]:
df_cleaned = df.copy()

In [35]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:a1s2k3..Aayush@localhost:3306/customer_behaviour"
)

In [36]:
df_cleaned.to_sql(
    name="customer_behaviour",
    con=engine,
    if_exists="replace",
    index=False
)

3900

In [37]:
import pandas as pd

pd.read_sql("SHOW TABLES", engine)

  Tables_in_customer_behaviour
0           customer_behaviour

In [40]:
pd.read_sql(
    "SELECT COUNT(*) AS total_rows FROM customer_behaviour",
    engine
)

   total_rows
0        3900

In [35]:
df.to_csv('customer_shopping_behavior.csv')